@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Apply styles to inputs */
#div0 input[type="text"],
#div2 input[type="text"],
#div2 input[type="password"],
#div2 input[type="submit"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
}

/* Apply styles to buttons */
#div0 button,
#div1 button,
#div2 button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f7c703;
  color: #030303;
  font-size: 1rem;
}

/* Apply styles to spans */
#div0 span,
#div2 span {
  color: red;
}

/* Apply styles to form labels */
#div2 form label {
  display: block;
  margin-bottom: 0.5rem;
  color: #030303;
}

/* Apply styles to table */
#div1 table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

#div1 table th,
#div1 table td {
  padding: 0.5rem;
  border: 1px solid #ccc;
}
